#mySidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(90, 90, 90, 0.3); /* Light green color with 30% opacity */
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  /* Style for the menu button */
  #menuBtn {
  font-weight: bold;
  color: black;
  float: right;
  padding: 20px;
  font-size: 30px;
  cursor: pointer;
  }
  
  /* Style for the menu links */
  #mySidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  color: black;
  display: block;
  transition: 0.3s;
  }
  
  /* Change color of links on hover */
  #mySidenav a:hover {
  color: #f1f1f1;
  }
  
  /* Style for the close button */
  #closeBtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  }
  
  /* Style for the main content area */
  #main {
  margin-top: 25px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 25px;
  font-size: 30px;
  padding: 16px;
  text-align: center;
  }
  
  /* Style for the background color */
  body {
  background-color: #ffcf80;
  }
  #form-container {
      padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  form {
    width: 50%;
    text-align: center;
    display: inline-block;
  }
  
  input[type=submit] {
    margin: 0 auto;
    display: block;
  }
  
  
  /* Style for the input fields */
  input[type=text], input[type=email], textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 20px;
  }
  
  /* Style for the select field and options */
  select, option {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 20px;
  }
  #dropdown {
  padding: 10px;
  text-align: center;
  }
  #dropdown option {
  padding: 0;
  }
  
  /* Style for the submit button */
  input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  }
  
  /* Style for the label */
  label {
  font-size: 20px;
  }
  
  /* Add a hover effect for the submit button */
  input[type=submit]:hover {
  background-color: #45a049;
  }
  table,tr,td,th {
    border: 1px solid black;
    border-collapse: collapse;
  }
  /* to bottom button */
  #scrollToBottomBtn {
    position: fixed;
    top: 5px;
    right: 40px;
    background-color: rgba(90, 90, 90, 0.5);
    border-radius: 40%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    text-align: center;
  }
  #down{
    margin-left: -4px;
    margin-top: 9px;
    }
  /* top button style */
  #scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: rgba(90, 90, 90, 0.5);
    border-radius: 40%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    text-align: center;
  }
  #scrollToTopBtn span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  /* Sign up button style */
  #signup-btn {
          position: absolute;
          float: left;
          background-color: darkgray;
          color: white;
          font-weight: bold;
          padding-left: 45px;
          padding-right: 45px;
          padding-top: 15px;
          padding-bottom: 15px;
          border-radius: 10px;
          text-decoration: none;
          cursor: pointer;
        }
        /* Login button */
        #login-btn {
          position: absolute;
          top: 85px;
          left: 18px;
          float: left;

          background-color: darkgray;
          color: white;
          font-weight: bold;
          padding-left: 40px;
          padding-right: 40px;
          padding-top: 13px;
          padding-bottom: 13px;
          border-radius: 10px;
          text-decoration: none;
          cursor: pointer;
        }
        /* footer */
        footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      background-color: rgba(90, 90, 90, 0.5);
      height: 130px;
      font-weight: bold;
      font-size: 25px;
  
  }
  /* social media */
  #follow-us {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 5px;
    background: rgba(0, 0, 0, 0.5);
    color: black;
    text-align: center;
    text-decoration: underline;
}

#social-icons {
    margin-top: 10px;
}

#social-icons a {
    font-size: 20px;
    color: purple;
    margin-right: 10px;
    margin-left: 10px;

}

#container {
  overflow: auto;
  }
  
  #random {
  background-color: gray;
  width: 300px;
  height: 250px;
  float: left;
  margin-top: -35px;
  margin-bottom: 100px;
  padding-top: 50px;
  }
  
  #card {
  background-color: gray;
  width: 300px;
  height: 215px;
  float: left;
  margin-left: 30px;
  margin-top: -35px;
  margin-bottom: 100px;
  padding-top: 50px;
  }
  
  
  
  
  